/*
Error: The line was indented 4 levels deeper than the previous line.
        on line 57 of /Users/loganmcansh/Dropbox/web/github/bmc08gt.github.io/css/work.sass

52:     .aokp-image
53:       background:
54:         image: url(../img/aokp.png)
55:         size: cover
56: <<<<<<< HEAD
57:         position: center
58:       height: 220px
59:       width: 750px
60: 
61: =======
62:       +size(150px)

Backtrace:
/Users/loganmcansh/Dropbox/web/github/bmc08gt.github.io/css/work.sass:57
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:509:in `tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:396:in `_to_tree'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:415:in `run'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Applications/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Applications/CodeKit.app/Contents/Resources/engines/scss/bin/sass:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: The line was indented 4 levels deeper than the previous line.\A         on line 57 of /Users/loganmcansh/Dropbox/web/github/bmc08gt.github.io/css/work.sass\A \A 52:     .aokp-image\A 53:       background:\A 54:         image: url(../img/aokp.png)\A 55:         size: cover\A 56: <<<<<<< HEAD\A 57:         position: center\A 58:       height: 220px\A 59:       width: 750px\A 60: \A 61: =======\A 62:       +size(150px)"; }
