@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url(font-awesome.min.css);
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Thin.woff2") format("woff2"), url("../font/roboto/Roboto-Thin.woff") format("woff"), url("../font/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: 200; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Light.woff2") format("woff2"), url("../font/roboto/Roboto-Light.woff") format("woff"), url("../font/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Regular.woff2") format("woff2"), url("../font/roboto/Roboto-Regular.woff") format("woff"), url("../font/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Medium.woff2") format("woff2"), url("../font/roboto/Roboto-Medium.woff") format("woff"), url("../font/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 500; }
@font-face {
  font-family: "Roboto";
  src: url("../font/roboto/Roboto-Bold.woff2") format("woff2"), url("../font/roboto/Roboto-Bold.woff") format("woff"), url("../font/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700; }
@font-face {
  font-family: "Material-Design-Icons";
  src: url("../font/material-design-icons/Material-Design-Icons.eot?#iefix") format("embedded-opentype"), url("../font/material-design-icons/Material-Design-Icons.woff2") format("woff2"), url("../font/material-design-icons/Material-Design-Icons.woff") format("woff"), url("../font/material-design-icons/Material-Design-Icons.ttf") format("truetype"), url("../font/material-design-icons/Material-Design-Icons.svg#Material-Design-Icons") format("svg");
  font-weight: normal;
  font-style: normal; }
/* colors from google design http://www.google.com/design/spec/style/color.html */
/* Red */
/* Pink */
/* Purple */
/* Deep Purple */
/* Indigo */
/* Blue */
/* Light Blue */
/* Cyan */
/* Teal */
/* Green */
/* Light Green */
/* Lime */
/* Yellow */
/* Amber */
/* Orange */
/* Deep Orange */
/* Brown */
/* Grey */
/* Blue Grey */
* {
  margin: 0; }

body {
  font-family: "Roboto"; }

header {
  background: #F44336;
  padding: 20px 0;
  position: fixed;
  width: 100vw; }
  header nav {
    padding: 0 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    header nav .backarrow {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; }
    header nav .links a {
      color: white;
      text-decoration: none;
      padding: 5px 10px; }
      header nav .links a:hover {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;
        border-radius: 2px; }
    header nav .back_arrow {
      font-size: 24px;
      color: white;
      margin: 0 20px 0 0;
      padding: 5px; }
      header nav .back_arrow:hover {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 0px 0px, rgba(0, 0, 0, 0.0980392) 0px 0px 0px 1px;
        border-radius: 2px; }

.work {
  width: 100vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .work .aokp, .work .cyanogen, .work .apps, .work .firmware {
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .work .aokp .aokp-image, .work .cyanogen .aokp-image, .work .apps .aokp-image, .work .firmware .aokp-image {
      background-image: url(http://www.fillmurray.com/g/150/150);
      background-size: cover;
      height: 150px;
      width: 150px; }
  .work .cyanogen .cm-image {
    background-image: url(http://www.fillmurray.com/g/150/150);
    background-size: cover;
    height: 150px;
    width: 150px; }
  .work .apps .apps-image {
    background-image: url(../img/wearresponses.jpg);
    background-size: cover;
    height: 150px;
    width: 150px;
    margin-top: 20px; }
  .work .apps h2 {
    padding-top: 20px; }
  .work .apps p {
    max-width: 600px;
    padding-top: 20px; }
  .work .firmware .fw-image {
    background-image: url(http://www.fillmurray.com/g/150/150);
    background-size: cover;
    height: 150px;
    width: 150px; }

@media (max-width: 600px) {
  .work .left-side {
    width: 100vw; } }
